{% extends "base.html" %}

{% block content %}
<main>


    <form action="{{ url_for('game') }}" method="POST">
    <fieldset>
        {% for q in questions %}
        <div>
            <h1></h1>
          <legend>{{ q['question'] | unescape }}</legend>
          <div>
            <input type="radio" id="true" name="answer{{loop.index0}}" value="True" />
            <label for="true">True</label>
          </div>
          <div>
            <input type="radio" id="false" name="answer{{loop.index0}}" value="False" />
            <label for="false">False</label>
          </div>
        </div>
        {% endfor %}

        <div>
        <button type="submit">SUBMIT ANSWERS</button>
        </div>
    </fieldset>
    </form>
</main>
{% include 'footer.html' %}
{% endblock %}