{% extends "base.html" %}

{% block content %}
<main>
{% for q in questions %}
    <h6>{{ q['question'] | unescape }}</h6>
    <form action="{{ url_for('game') }}" method="POST">
        <label for="true">True</label>
        <input type="radio" id="true" name="answer" value="True">
        <input type="radio" id="false" name="answer" value="False">
        <label for="false">False</label>
        <button type="submit">Ok</button>
    </form>
    <br>
{% endfor %}
</main>
{% include 'footer.html' %}
{% endblock %}